<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./process.js"></script>
    <script src="./scripts/web3.js"></script>
    <script src="./bundle.js"></script>
    <title>Minigame</title>
</head>
<body>
    <!-- <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>HelloWorld</h1>
            <div>Data: <span id="hello"></span></div>
          </div>
        </div>
    </div>

    <h2> Minigame</h2>
    <button id = "connectMetaMask"> Connect Meta Mask</button>
    <div id = "frmDangKy">
        <input id="txtHoTen" type="text" placeholder="Ho ten"/>
        <input id="txtEmail" type="text" placeholder="Email"/>
        <input id="txtSoDT" type="text" placeholder="So dt"/>
        <button id = "btnDangKy"> Dang Ky</button>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Crud</h1>
          <form id="create">
            <h2>Create user</h2>
            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" type="text" class="form-control"></input>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <p id="create-result"></p>
          </form>

          <hr>

          <form id="read">
            <h2>Read user</h2>
            <div class="form-group">
              <label for="read-id">Id</label>
              <input id="read-id" type="number" class="form-control"></input>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <p id="read-result"></p>
          </form>

          <hr>

          <form id="edit">
            <h2>Edit user</h2>
            <div class="form-group">
              <label for="edit-id">Id</label>
              <input id="edit-id" type="number" class="form-control"></input>
              <label for="edit-name">Name</label>
              <input id="edit-name" type="text" class="form-control"></input>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <p id="edit-result"></p>
          </form>

          <hr>

          <form id="delete">
            <h2>Delete user</h2>
            <div class="form-group">
              <label for="delete-id">Id</label>
              <input id="delete-id" type="number" class="form-control"></input>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <p id="delete-result"></p>
          </form>

        </div>
      </div>
    </div>
</body>
</html>